<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/profile/style.css">
    <script src="/profile/script.js" defer></script>
</head>
<body>
    <h1><%=username%>'s Profile</h1>

    <!-- <button><a id="posts-link" href="/posts">posts</a></button> -->
    <!-- <button><a id="chat-link" href="/chat">chat</a></button> -->
    <main>
        <button id="btn-to-root"><a href="/posts">go to Wall</a></button>
        <button id="btn-to-chats"><a href="/chats">go to Chats</a></button>
        <button id="btn-logout"><a href="/auth/logout">logout</a></button>

    </main>

</body>
</html>